body {
    background-image: url("Page Image/camera-g1fc44299b_1920.jpg");
    background-size: cover;
}

img {
    width: 100%;
}

h1 {
    color: red;
    font-weight: lighter;
    font-style: oblique;
    text-align: center;
    font-weight: bold;
}

footer {
    color: ghostwhite;
    text-align: center;
    padding: 19%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

footer,
p,
a {
    text-decoration: none;
    color: ghostwhite;
}

video {
    display: block;
    margin: auto;
}